# MIUI camera flag
on property:sys.camera.miui.apk=*
    setprop vendor.camera.miui.apk ${sys.camera.miui.apk}

# add for camera watermark
on property:vendor.camera.watermark.en=1
    chmod 666 /mnt/vendor/persist/camera/karna_main_space_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/karna_main_space_cinematic_ratio_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/surya_main_space_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/surya_main_space_cinematic_ratio_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/indra_main_space_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/indra_main_space_cinematic_ratio_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/arjuna_main_space_custom_watermark.png
    chmod 666 /mnt/vendor/persist/camera/arjuna_main_space_cinematic_ratio_custom_watermark.png
